:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: #E1E5F2;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.container {
    width: 90vw;
    max-width: 700px;
}

header {
    margin: 1.5rem auto;
}

.date-title {
    font: 700 3.5rem Inter;
    color: #022B3A;
}

.checked-span {
    font: 600 2rem Inter;
    color: #1F7A8C;
}

.divider {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid #022B3A;
}

.tasks-title {
    font: 700 3rem Inter;
    color: #022B3A;
    margin-bottom: 1rem;
}

.task-container + .task-container {
    margin: 1.5rem auto;
}

.task-container input[type="checkbox"] {
    position: static;
    width: 1.3rem;
    height: 1.3rem;

    border: 2px solid #022B3A;
    box-sizing: border-box;
    border-radius: 2rem;
}

.text {
    font: 500 2.2rem Inter;
    color: #1F7A8C;
    margin-left: .5rem;
}

.category {
    font: 500 1.3rem Inter;
    color: #1F7A8C;
    opacity: 0.8;
    margin-top: .5rem;
}

.done {
    color: green;
    opacity: 0.6;
}

li a {
    cursor: pointer;
    margin: auto 1rem;
}

.delete {
    width: .5rem;
    height: .5rem;
    color: #DF2935;
}

div button {
    cursor: pointer;
}

.btn-form {
    background: linear-gradient(180deg, #022b3a 0%, #055a79 100%);
    color: #bfdbf7;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    position: absolute;
    margin: 2rem 2rem;
    right: 0;
    bottom: 0;
    transition-duration: 1s;

    width: 6rem;
    height: 6rem;
}

.btn-form:hover {
    background: #bfdbf7;
    color: #022b3a;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 20rem;
    height: 22rem;

    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: .8rem;
    overflow-x: auto;
    overflow-y:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

form label {
    display: flex;
    justify-content: center;
    font: 500 1.6rem Inter;
    margin: .6rem auto;
    color: #022b3a;
}

form input {
    font: 500 1rem Inter;
    border: 1px solid #bfdbf7;
    width: 100%;
    height: 2.5rem;
    padding: 0 .7rem;
    border-radius: .7rem;
    background: #e1e5f2;
}

input:focus {
    outline: 0;
}

.input-group {
    margin: 1.7rem auto;
}

.modal button {
    margin: 1rem .7rem;
}

.add-task {
    font: 500 1rem Inter;
    color: #022b3a;
    border-radius: 2rem;
    border: none;
    width: 6rem;
    height: 3rem;
    background: #bfdbf7;

    margin-top: 1rem;
}

.btn-close {
    font: 500 1rem Inter;
    color: #022b3a;
    border-radius: 2rem;
    border: none;
    width: 6rem;
    height: 3rem;
    background: #bfdbf7;

    margin-top: 1rem;
}

.hidden {
    display: none;
}

@media (min-width: 700px){
    :root {
        font-size: 68%;
    }

    .modal {
        width: 27rem;
        height: 27rem;
    }

    form label {
        font-size: 2rem;
    }
    
    form input {
        font-size: 1.4rem;
    }

    .modal button {
        margin: 1.5rem 1.3rem;
    }

    .add-task {
        font-size: 1.5rem;
        width: 8rem;
        height: 3rem;
    }
    
    .btn-close {
        font-size: 1.5rem;
        width: 8rem;
        height: 3rem;
    }
}

@media (min-width: 1100px) {
    :root {
        font-size: 75%
    }
}